body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container {
	width:640px;
}

h1, h2, h3, h4, h5, h6 {
	margin:0px 0 0 9;
}

h1 {font-size:24px;padding:10px 0; margin:0px 0 0 0;}

h1 span {font-size:14px;float:right;}

.well h1 {font-size:16px; border-bottom:2px solid #000; padding:0px 0; margin-bottom: 10px;}

code {
	color: white;
	border: none;
}

pre {
	background: #222;
	padding: 10px;
	color: white;
}

blockquote {
	background: #e6ecd8;
	margin-top: 10px;
	border-radius: 4px 4px 4px 4px;
}

blockquote p {
	font-size:12px;
	margin-right:10px;
}

.well {
	padding-top: 10px;
	text-align : justify;
}

.nav-list li a {
	    padding: 0px 0px;
}
